@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Quicksand');

/********************
font-family: 'Lobster Two', cursive;
font-family: 'Quicksand', sans-serif;
*********************/
h1 {
    font-family: 'Lobster Two', cursive;
}

nav {
    font-family: 'Quicksand', sans-serif;
}

main {
    font-family: 'Quicksand', sans-serif;
}

img{
    max-width: 90vw;
}

#home {
    padding: 10px;
}

#secFam{
    text-align: center;
    border-style: solid;
    margin-bottom: 3px;
}

button {
    font-family: 'Lobster Two', cursive;
    margin-bottom: 10px;
    font-size: 18px;
}