@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Quicksand');

/********************
font-family: 'Lobster Two', cursive;
font-family: 'Quicksand', sans-serif;
70A9A1
9EC1A3
CFE0C3
*********************/
header{
    background-color: #9EC1A3;
}

h1 {
    font-family: 'Lobster Two', cursive;
}

nav {
    font-family: 'Quicksand', sans-serif;
    background-color: #70A9A1;
}

body{
    background-color: #CFE0C3;
}

main {
    font-family: 'Quicksand', sans-serif;
}

#home {
    padding: 10px;
}

#logo{
    float: left;
    max-width: 300px;
    width: 20vw;
}

#secFam{
    text-align: center;
    border-style: solid;
    margin-bottom: 3px;
}

button {
    font-family: 'Lobster Two', cursive;
    margin-bottom: 10px;
    font-size: 18px;
}

img{
    max-width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}