<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/signIn.css" type="text/css" rel="stylesheet">
</head>
    <body>
        <% include ../partials/nav.ejs %>
        <main id="makeMember">
            <script src="signIn.js"></script>
            <div id="status"></div>
                <label for="lName">Last Name: </label>
                <input type="text" name="lName" id="lName" placeholder="Your Last name..." required>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Your password. . . " required>
                <input type="hidden" name="famId" value="<%= id %>">
                <button onclick="login()">Log in</button>
        </main>
    </body>
</html>