<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/letter.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<script src="album.js"></script>
<main id="familyList">
    <h1>Welcome <%= name %></h1>
    <h3 id="famId"><%= famId %></h3>
    <h3 id="id"><%= id %></h3>
    <div id="albums">
    </div>
</main>

</body>
</html>