<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<% include ../partials/nav.ejs %>
<main id="home">
<div id="status"></div>
<script src="main.js"></script>
<a class="enterFam" href="makeFamily.html">Enter a New Family</a>
<h2>Check to See if Your Family Has Been Made Already</h2>
<input type="text" id="myInput" onkeyup="findName()" placeholder="Search Your Last Name.." title="Type in a name">
<div id="family"></div>
</main>
</body>
</html>