<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<main id="home">
<script src="main.js"></script>
<a href="package.html">order package</a>
<a href="/getPerson?id=1">family page</a>
<a href="makeFamily.html">Enter Your Family</a>
<button id="home">See Family List</button>
<div id="family"></div>
</main>
</body>
</html>