<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<% include ../partials/nav.ejs %>
<main id="home">
<div id="status"></div>
<script src="main.js"></script>
<!--<a href="package.html">order package</a>
<a href="/getPerson?id=1">family page</a>
<button id="home">See Family List</button>-->
<a href="makeFamily.html">Enter Your Family</a>
<div id="family"></div>
</main>
</body>
</html>