<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<% include ../partials/nav.ejs %>
<script src="journal.js"></script>
<main id="familyList">
    <h3 id="imgId" style="display: none;"><%= imgId %></h3>
    <h3 id="id" style="display: none;"><%= userId %></h3>
    <div id="entries"></div>
</main>
</body>
</html>