<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/signIn.css" type="text/css" rel="stylesheet">
</head>
    <body>
        <main id="journal">
            <h1>Journal Page</h1>
            <div id="pics"></div>
            <div id="entries"></div>
        </main>
    </body>
</html>