<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/signIn.css" type="text/css" rel="stylesheet">
</head>
    <body>
        <main id="loadFile">
            <h1>Upload Photos</h1>
            <form action="/fileupload" method="POST" enctype="multipart/form-data">
                <label for="image">Load Images</label>
                <input type="file" id="image" name="image" accept="image/*" required>
                <lablel for="imageName">Label Image</lablel>
                <input type="text" id="imageName" name="imageName">
                <input type="hidden" value="<%= album %>">
                <input type="submit">
            </form>
        </main>
    </body>
</html>