<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/letter.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<main id="price">
<div >
    <h2>Price of Mail</h2>
    <p><%= data.packageT %> <%= data.ozSize %>oz<br>Price: $<%=amount %></p>
</div>
</main>

</body>
</html>