<!DOCTYPE html>
<html>
<head>
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">
</head>

<body>
<% include ../partials/nav.ejs %>
<script src="album.js"></script>
<main id="imgs">
    <h3>album: <%= album %></h3>
    <h3>Name <%= name %></h3>
    <img src="<%= pics %>">
</main>

</body>
</html>